<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>登录</title>
		<link rel="stylesheet" href="../public/css/login.css">
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="../public/js/vue.js"></script>
	</head>
	<body>
		<header>
			<img src="../public/img/piLogo.png" alt="树莓派logo" id="mainlogo">
		</header>
		<main>
			<form id="login_form" v-on:submit.prevent="post">
				<label>登录邮箱：</label><br>
				<input type="text" name="email" v-model="email" autofocus=""><br>
				<label>密码：</label><br>
				<input type="password" name="password" v-model="password"><br>
				<input type="submit" value="登录"></input>
			</form>
		</main>
		<script src="../public/js/login.js"></script>
	</body>
</html>
